.thumbnail{
  width: 100%;
  cursor: pointer;
}

.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}

.video-time{
  font-family: roboto, arial;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 12px;
  right: 8px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}

.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.profile-picture-container{
  position: relative;
  display: inline-block;
}

.profile-picture{
  width: 36px;
  border-radius: 20px;
}

.channel-tooltip{
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  width: 200px;
  padding: 12px 12px;
  border-radius: 6px;
  top: 45px;
  z-index: 300;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.profile-picture-container:hover .channel-tooltip{
  opacity: 1;
}


.channel-tooltip img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 8px;
}

.channel-tooltip-author{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.channel-tooltip-stats{
  font-family: roboto, arial;
  font-size: 12px;
  color: rgb(96,96,96);
}

.author,
.video-stats{
  font-size: 12px;
  color: rgb(96,96,96);
}
.author{
  margin-bottom: 4px;
}
.video-info-grid{
  display:grid;
  grid-template-columns: 50px 1fr;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

